.card {
    width: 200px;
    height: 300px;
    padding: 0;
}

.card-image {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid transparent;
}

.card-image:hover {
    border-color: #ADD8E6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
  }
  
  .popup button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  